@media screen and (max-width: 320px){
	.slyder img {
    border: 10px solid #00000030;
    position: relative;
    top: 100px;
    width: 80%;
}
h1 {
  font-size:20px;
    margin-bottom: 0px;
}
  .menu{
	color:white;
}
ul{
	display:flex;
  flex-direction:column;
	list-style:none;
	margin-top:40px;
  line-height:2;
}
.slyder img {
	display: none;
  text-align: center;
  margin-bottom:40px;
  }
.about {
    display: flex;
    flex-wrap: wrap;
   flex-direction: column;
    margin-top: 50px;
 }
 .person{
  width:90%;
	margin:10px;
}
.person img{
	border:4px solid #e7e7e7;
}
.person p{
	font-size:15px;
	line-height:2;
}

/*create From our Blog*/
.block1{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	width:200px;
  margin-top:50px;
 }
}
@media screen and(max-width: 529px){
	ul li{
		padding-right:20px;
	}
}


@media screen and(max-width: 616px){
	.block1{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	width:200px;
  }
 .block2{
	display:flex;
	justify-content:center;
	width:200px;
  }
}






