body{
  max-width:1900px;
  margin:0 auto;
  font-family:'Nanum Gothic', sans-serif;
}
hr{
	margin:0px auto;
	width:100%;
	height:15px;
	background-color:#3b3b3b;
	border:none;
}
header{
	background-size:cover;
	background-color:#de4f4f;
	border-top:10px solid #00000030;
	border-bottom:10px solid #00000030;
}
nav{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
}
.logo{
	color:white;
	font-weight:bold;
	font-size:17px;
}
h1{
	margin-bottom:0px;
}
p{
	margin-top:0px;
}
.menu{
	color:white;
}

ul{
	display:flex;
	list-style:none;
	margin-top:40px;
}
ul li a{
	text-decoration:none;
	color:white;
}
ul li a:hover{
	color:black;
	cursor:pointer;
}
ul li{
	padding-right:30px;
}
.slyder{
	text-align:center;
}
.slyder img {
    border: 10px solid #00000030;
    position: relative;
    top: 100px;
    width: 65%;
}
content h1{
	text-align:center;
	margin-top:200px;
}
.but{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:50px;
}
button{
	cursor:pointer;
	background-color: #ff5c5c;
	border-radius: 40px;
	border: 10px solid #f5f0e9;
	font-size: 20px;
	padding: 15px;
	width: 250px;
	color: white;
}
.about{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin-top:50px;
}
.person{
	width:300px;
	margin:15px;
}
.person img{
	border:10px solid #e7e7e7;
	width: 100%;
}
.person p{
	font-size:12px;
	line-height:2;
}
.span{
	display:flex;
	justify-content:flex-end;
	font-size:12px;
}
 .span span{
 	cursor:pointer;
	color:#ff5c5c;
	font-weight:bold;
}
.span a{
	color:#ff5c5c;
	text-decoration:none;
}
/*Add footer*/
footer{
	background-image:url(../img/footer.png);
	background-repeat:no-repeat;
	background-size: cover;
}
.box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	padding-top: 30px;
}
/*create From our Blog*/
.block1{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	width:200px;
}
.block1 p{
	color:white;
	margin-left:80px;
	font-size:13px;
}
.fromBlog{
	color:white;
	font-weight:bold;
	font-size:20px;
}
.info1{
	width:100%;
}
.info1 img{
	float:left;
}
.info1 span{
	font-style:italic;
	color:grey;
}
.info2{
	width:100%;
}
.info2 img{
	float:left;
}
.info2 span{
	font-style:italic;
	color:grey;
}
/*Latest Tweets*/
.block2{
	display:flex;
	justify-content:center;
	width:200px;
}
.yuorNews{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.text{
	width:100%;
}
.text p{
	font-size:12px;
	font-weight:bold;
	color:white;
	margin-bottom:0px;
}
.web{
	font-size:12px;
	color:#ff5c5c;
}
.text span{
	text-decoration:none;
	font-style:italic;
	font-size:12px;
	color:grey;
}
/*create Goodware*/
.block3{
	display:flex;
	justify-content:center;
	width:200px;
}
.goodware{
	width:100%;
	margin-top:25px;
}
.goodware span {
	font-size: 32px;
	color:white;
	font-weight:bold;
}
.goodware p{
	color:white;
	font-size:12px;
	line-height:2;
}